In [3]:
import numpy as np
import pandas as pd

In [4]:
!mkdir small_screen
!cd small_screen
# !wget -O Hash_Sample_small_screen.txt https://www.ncbi.nlm.nih.gov/geo/download/?acc=GSM4150377&format=file&file=GSM4150377%5FsciPlex2%5FhashSampleSheet%2Etxt%2Egz 
# !wget -O Hash_Table_out_small_screen.txt https://www.ncbi.nlm.nih.gov/geo/download/?acc=GSM4150377&format=file&file=GSM4150377%5FsciPlex2%5FA549%5FTranscription%5FModulators%5FhashTable%2Eout%2Etxt%2Egz

mkdir: невозможно создать каталог «small_screen»: Файл существует

In [6]:
hash_sample = pd.read_csv('/home/maxim/bi2021spring/small_screen/Hash_Sample_small_screen.txt', 
                          header=None, 
                          sep='\t',
                          names=['general', 'barcodes', 'f0'],
                          usecols=[0, 1, 2])
hash_table_out = pd.read_csv('/home/maxim/bi2021spring/small_screen/Hash_Table_out_small_screen.txt', 
                             header=None, 
                             sep='\t', 
                             names=['f1', 'cell_annotation', 'general', 'f2', 'f3'])

## Info

In [7]:
hash_sample.head()

           general    barcodes  f0
0  Nutlin_100_AA01  CGGTCAAGAA   1
1   Nutlin_50_AA02  CGCTCCTAAC   1
2   Nutlin_10_AA03  ATCCATGACT   1
3    Nutlin_5_AA04  AACCTGGTCT   1
4    Nutlin_1_AA05  ACCGAAGACC   1

In [8]:
hash_table_out.head()

          f1  cell_annotation          general  f2  f3
0  sciChem18  A01_A01_RT_1424       Dex_0_BC08   1   1
1  sciChem18  A01_A01_RT_1424  Nutlin_0.5_BB02   1   1
2  sciChem18  A01_A01_RT_1424   Nutlin_50_BA10   1   1
3  sciChem18  A01_A01_RT_1424      SAHA_0_BF12   1   2
4  sciChem18    A01_A01_RT_15     Dex_100_AC09   1   1

In [9]:
print(pd.unique(hash_table_out['general']).shape == pd.unique(hash_sample['general']).shape)
print(pd.unique(hash_sample['general']).shape[0] == hash_sample.shape[0])

True
True

## Merge

In [10]:
merged = pd.merge(left=hash_table_out, right=hash_sample, on='general')
merged

               f1  cell_annotation       general  f2  f3    barcodes  f0
0       sciChem18  A01_A01_RT_1424    Dex_0_BC08   1   1  TGAACTTCGA   1
1       sciChem18   A01_A01_RT_429    Dex_0_BC08   1  36  TGAACTTCGA   1
2       sciChem18   A01_A01_RT_434    Dex_0_BC08   1   1  TGAACTTCGA   1
3       sciChem18   A01_A01_RT_445    Dex_0_BC08   1  26  TGAACTTCGA   1
4       sciChem18   A01_A01_RT_457    Dex_0_BC08   1   1  TGAACTTCGA   1
...           ...              ...           ...  ..  ..         ...  ..
350176  sciChem18   H11_B02_RT_676  BMS_100_AG01   1   1  TTGCCTTGGC   1
350177  sciChem18   H11_B02_RT_698  BMS_100_AG01   1   1  TTGCCTTGGC   1
350178  sciChem18   H11_B02_RT_722  BMS_100_AG01   1   1  TTGCCTTGGC   1
350179  sciChem18   H12_B02_RT_428  BMS_100_AG01   1   1  TTGCCTTGGC   1
350180  sciChem18   H12_B02_RT_448  BMS_100_AG01   1   1  TTGCCTTGGC   1

[350181 rows x 7 columns]

In [11]:
sep_col = pd.DataFrame(merged['general'].str.split('_').tolist(), 
                       columns = ['treatment', 'dose', 'cell'])
sep_col

       treatment dose  cell
0            Dex    0  BC08
1            Dex    0  BC08
2            Dex    0  BC08
3            Dex    0  BC08
4            Dex    0  BC08
...          ...  ...   ...
350176       BMS  100  AG01
350177       BMS  100  AG01
350178       BMS  100  AG01
350179       BMS  100  AG01
350180       BMS  100  AG01

[350181 rows x 3 columns]

In [12]:
full_data = pd.concat((sep_col, merged[['cell_annotation', 'barcodes']]), axis=1)
full_data

       treatment dose  cell  cell_annotation    barcodes
0            Dex    0  BC08  A01_A01_RT_1424  TGAACTTCGA
1            Dex    0  BC08   A01_A01_RT_429  TGAACTTCGA
2            Dex    0  BC08   A01_A01_RT_434  TGAACTTCGA
3            Dex    0  BC08   A01_A01_RT_445  TGAACTTCGA
4            Dex    0  BC08   A01_A01_RT_457  TGAACTTCGA
...          ...  ...   ...              ...         ...
350176       BMS  100  AG01   H11_B02_RT_676  TTGCCTTGGC
350177       BMS  100  AG01   H11_B02_RT_698  TTGCCTTGGC
350178       BMS  100  AG01   H11_B02_RT_722  TTGCCTTGGC
350179       BMS  100  AG01   H12_B02_RT_428  TTGCCTTGGC
350180       BMS  100  AG01   H12_B02_RT_448  TTGCCTTGGC

[350181 rows x 5 columns]

In [13]:
final = full_data[['cell_annotation', 'cell', 'treatment', 'dose', 'barcodes']]
final

        cell_annotation  cell treatment dose    barcodes
0       A01_A01_RT_1424  BC08       Dex    0  TGAACTTCGA
1        A01_A01_RT_429  BC08       Dex    0  TGAACTTCGA
2        A01_A01_RT_434  BC08       Dex    0  TGAACTTCGA
3        A01_A01_RT_445  BC08       Dex    0  TGAACTTCGA
4        A01_A01_RT_457  BC08       Dex    0  TGAACTTCGA
...                 ...   ...       ...  ...         ...
350176   H11_B02_RT_676  AG01       BMS  100  TTGCCTTGGC
350177   H11_B02_RT_698  AG01       BMS  100  TTGCCTTGGC
350178   H11_B02_RT_722  AG01       BMS  100  TTGCCTTGGC
350179   H12_B02_RT_428  AG01       BMS  100  TTGCCTTGGC
350180   H12_B02_RT_448  AG01       BMS  100  TTGCCTTGGC

[350181 rows x 5 columns]

In [14]:
!cd /home/maxim/bi2021spring
final.to_csv('small_screen_annotation_table.csv', index = False)